<p class="notice">
	Are you a Masters player looking for team to play for? Or are you a Team Manger looking to add to your squad? Maybe you are a Tournament Director who wants want help your teams find players? Free Agent Masters are here to help you all!
</p>

<p>
	Free Agent Masters is a free service from your friends at <a href="https://www.mastersbasketballtournaments.com/">Masters Basketball Tournaments</a>, the only worldwide directory of Masters basketball tournaments. This idea was born out of the struggles we had breaking into the Masters basketball circuit ourselves and hearing that many others seem to be experiencing the same obstacle.
</p>

<p>
	The idea is simple. A central, worldwide, match-making/clearing house service that aims to help the Masters basketball community grow. If your are a player looking for a team or a Team Manager looking for players, we aim to put you together. An additional benefit for Tournament Directors is that you no longer have to be the intermediary between players and teams, therefore freeing you up for the enormous task of actually putting on the tournament for us players!
</p>

<p>
	Give us some details and we'll make the connections for you.
</p>

<p>
	So tell your Masters friends, Team Manager and that hard working Tournament Director about the potential of this service for our Masters basketball community!
</p>

<p>
	The information you share here will be treated with respect and not sold or given to any other site, service or person without your consent.
</p>

<form method="POST">
	<input type="hidden" name="form-name" value="Registration" />
	<input name="subject" type="hidden" value="Free Agent Masters: Registration" />

	<p>
		<label for="givenname">Given name *</label>
		<input id="givenname" name="givenname" type="text" required>
	</p>

	<p>
		<label for="familyname">Family name *</label>
		<input id="familyname" name="familyname" type="text" required>
	</p>

	<p>
		<label for="email">Email address *</label>
		<input id="email" name="email" type="email" required>
	</p>

	<details name="player" >
		<summary>I am a <strong>PLAYER</strong> looking for a team to play for at a tournament</summary>

		{%- assign menCompetitions = competitions.data | where: 'gender', 'Men' -%}
		<label>Select a men's or women's competition and then a tournament</label>
		<select name="player.competition" hx-get="{{ site.domain }}/freeagentmasters/v1/tournaments.html/" hx-target="#player-tournament">
			<option value="">Men</option>
			{% for competition in menCompetitions %}
				<option value="{{ competition.identifier }}">{{ competition.gender }} {{ competition.ageOver }} and over</option>
			{% endfor %}
		</select>

		&nbsp;

		{%- assign womenCompetitions = competitions.data | where: 'gender', 'Women' -%}
		<select name="player.competition" hx-get="{{ site.domain }}/freeagentmasters/v1/tournaments.html/" hx-target="#player-tournament">
			<option value="">Women</option>
			{% for competition in womenCompetitions %}
				<option value="{{ competition.identifier }}">{{ competition.gender }} {{ competition.ageOver }} and over</option>
			{% endfor %}
		</select>

		<p>
			<label for="player-tournament">Select a tournament</label>
			<select id="player-tournament" name="player.tournament">
				<option>Select a competition first</option>
			</select>
		</p>

		<p>
			<label for="player.profile">Playing experience</label>
			<textarea id="player.profile" name="player.profile" rows="6"></textarea>
		</p>
	</details>

	<details name="manager" >
		<summary>I am a <strong>TEAM MANAGER</strong> looking for players to join my team at a tournament</summary>
		<p>
			<label for="team.name">Team name</label>
			<input id="team.name" name="team.name" type="text">
		</p>

		<p>My team is looking for players in the following tournament competition</p>

		<label>Select a men's or women's competition and then a tournament</label>
		<select id="team.competition" name="team.competition" hx-get="{{ site.domain }}/freeagentmasters/v1/tournaments.html/" hx-target="#team.tournament">
			<option>Men</option>
			{% for competition in menCompetitions %}
				<option value="{{ competition.id }}">{{ competition.gender }} {{ competition.ageOver }} and over</option>
				{{ competition.id }}
			{% endfor %}
		</select>&nbsp;

		<select id="team.competition" name="team.competition" hx-get="{{ site.domain }}/freeagentmasters/v1/tournaments.html/" hx-target="#team.tournament">
			<option>Women</option>
			{% for competition in womenCompetitions %}
				<option value="{{ competition.id }}">{{ competition.gender }} {{ competition.ageOver }} and over</option>
				{{ competition.id }}
			{% endfor %}
		</select>

		<p>
			<label for="team.tournament">Select a tournament</label>
			<select id="team.tournament" name="team.tournament">
				<option>Select a competition first</option>
			</select>
		</p>
	</details>

	<details name="director" >
		<summary>I am a <strong>TOURNAMENT DIRECTOR</strong> looking to find players for my teams</summary>

		<label>
			Select your tournament and then the competitions that are looking for players

			{%- assign tournaments = tournaments.data -%}
			<select name="director.tournament" hx-get="{{ site.domain }}/freeagentmasters/v1/competitions.html/?element=checkboxes&content=competitions" hx-target="#competitions">
				<option>Select a tournament</option>
				<hr />
				{% for tournament in tournaments %}
					<option value="{{ tournament.tournamentID }}">{{ tournament.name }}</option>
				{% endfor %}
			</select>
		</label>

		<div id="competitions"></div>
	</details>

	<p>Remember, we'll never share any of your details without your consent and we'll never sell your information to anyone.</p>

	<p>
		<div data-netlify-recaptcha="true"></div>
	</p>

	<button>Send</button>
</form>

<form name="Registration" action="/thank-you" netlify netlify-honeypot="year" hidden>
	<input name="subject" type="text" value="Free Agent Masters: Registration" />

	<input name="year" type="text" />

	<input name="givenname" type="text">
	<input name="familyname" type="text">
	<input name="email" type="email">

	<input name="player.competition" type="text" />
	<input name="player.tournament" type="text" />
	<input name="player.profile" type="text" />

	<input name="team.name" type="text" />
	<input name="team.competition" type="text" />
	<input name="team.tournament" type="text" />

	<input name="director.tournament" type="text" />
	<input name="director.competitions" type="text" />
</form>
